.container-in-view {
  transition: all 1s ease-in-out;
  transform: translateX(0);
  transform: translateY(0);
  
  &.fade {
    &.out {
      opacity: 0;
    }
    
    &.in {
      opacity: 1;
    }
  }

  &.out {
    
    &.top {
      transform: translateY(-50px);  
    }
    &.bottom {
      transform: translateY(50px);  
    }
    &.left {
      transform: translateX(-50px);  
    }
    &.right {
      transform: translateX(50px);  
    }
  }
  
  &.in {

    &.top {
      transform: translateY(0px);
    }
    &.bottom {
      transform: translateY(0px);
    }
    &.left {
      transform: translateX(0px);
    }
    &.right {
      transform: translateX(0px);
    }
  }
}